<app-navbar></app-navbar>

<div class="container">
    <div class="row">
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <app-brand-list></app-brand-list>
            <br>
            <app-color-list></app-color-list>
            <br>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <!-- <app-footer></app-footer> -->
    </div>
</div>


<!-- <app-home-page></app-home-page> -->